<div class="d-flex">
  <div class="poster">
    <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/<%= @movie[:poster_path] %>" alt="poster"/>
  </div>
  <div class="details">
    <h1>Title: <%= @movie[:title] %></h1>
  </div>
</div>
